* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.green {
    height: 3000px;
    width: 300px;
    background-color: green;
}

.fixed-chat-box {
    background-color: hotpink;
    height: 50px;
    width: 50px;
    position: fixed;
    left: 20px;
    bottom: 20px;
}